/* const styles = StyleSheet.create({
    container: {
      height: 'auto',
      flex: 1,
      backgroundColor: '#fff',
      alignSelf: 'stretch',
      justifyContent: 'center'
    },
    tinyLogo: {
      width: 200,
      height: 200,
    },
    textCenter: {
      textAlign: 'center',
      alignItems: 'center',
      justifyContent: 'center'
    },
    drawer: {
      backgroundColor: 'black'
    },
    titleDetailScreen: {
      fontSize: 30,
      textAlign: 'center',
      margin: 10
    },
    scene: {
      flex: 1,
    },
    buttons: {
      margin: 10
    }
  }); */

  